* {
  margin: 5px;
}
.container {
  display: flex;
  border: 1px solid black;
}

.proImg {
  margin: 2rem;
}

.description {
  position: relative;
}

.greetings {
  border: 1px solid black;
}
.greeting-text {
  margin: 1rem;
}

.random-number {
  border: 1px solid black;
}

.random-text {
  margin: 1rem;
}

.boxColor {
  border: 1px solid black;
}

.boxColor-text {
  padding: 4rem;
  text-align: center;
  font-weight: 700;
}
.credit-card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
  padding: 1.2rem;
  border-radius: 10px;
}
.visa-num {
  text-align: center;
  font-weight: 500;
  font-size: 1.6rem;
}
.visaImg {
  display: block;
  text-align: right;
}
.visa-details {
  font-size: 0.75rem;
}

.rating-star {
  font-size: 3rem;
}
.driver-card-container {
  display: flex;
  justify-items: center;
  align-items: center;
  background-color: rgb(100, 100, 203);
  color: white;
  border-radius: 10px;
}
.driver-image {
  margin-left: 100%;
  width: 250px;
  height: auto;
  border-radius: 50%;
}
.driver-text {
  position: absolute;
  right: 40%;
}
.driver-star {
  font-size: 2rem;
}
.driver-name {
  font-size: 1.2rem;
  font-weight: 500;
}
